.kurs_btn_card {
  width: 100%;
  /* overflow-x: scroll; */
  margin: 1rem 0;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
}

.swiper-button-next2 {
  position: absolute;
  bottom: 0%;
  left: 52%;
  transform: translateX(-50%);
  z-index: 99;
}

.swiper-button-prev2 {
  position: absolute;
  bottom: 0%;
  left: 47%;
  transform: translateX(-50%);
  z-index: 99;
}

@media (max-width: 768px) {
  .kurs_btn_card {
    width: 100%;
    justify-content: center;
  }
}
 .swiper-slide {
  text-align: center;
  width: auto !important;
  margin: 0 1rem;
}

.swiper-slide-active  {
  text-align: center;
  width: auto !important;
}

.kurs_btn {
  padding: 1rem 1rem;
  border-radius: 50px;
  font-size: 15px;
  text-align: center;
}
.kurs_card {
  width: 330px;
  height: auto;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 30px;
  transition:  0.3s ease-out;
}

.kurs_card:hover {
  color: white;
}
.img-round {
  transition: 0.3s;
}

.kurs_card:hover .img-round {
  top: -40%;
  transform: rotate(90deg);
}
