.statistik {
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 70%;
  height: 156px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: white;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .statistik {
    font-size: 15px;
    left: 10%;
    width: 80%;
    top: 50%;
  }
}