.logo_card {
  margin: 2rem 2rem 2rem 0;
  width: 250px !important; 
  height: 100px;
  border-radius: 20px;
  /* padding: 1rem; */
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.brand_title {
  font-size: 40px;
  font-weight: 600;
}


@media (max-width: 768px) {
  .brand_title {
    font-size: 30px;
    text-align: center;
  }
}
