.logo_card {
  margin: 2rem 2rem 2rem 0;
  width: 250px !important; 
  height: auto;
  border-radius: 20px;
  padding: 1rem;
}

.brand_title {
  font-size: 40px;
  font-weight: 600;
}


@media (max-width: 768px) {
  .brand_title {
    font-size: 30px;
    text-align: center;
  }
}
