.sample {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.section_mentor {
  width: 100%;
  height: 865px;
  border-radius: 40px;
  color: white;
  padding: 2rem 3rem;
  margin: 2rem 0;
  position: relative;
}

.section_mentor_txt {
  font-size: 30px;
  margin: 1rem 0;
  font-weight: 600;
  letter-spacing: 1px;
}

.card_carusel {
  width: 250px;
  margin: 0 auto;
  height: 400px;
  background-color: #86B6FF;
  border-radius: 20px;  
  padding: 0.5rem;
  background-image: url('../../assets/images/man_PNG6533.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.carusel {
  height: 650px;
  /* background-color: red; */
}

.card-border {
  width: 100%;
  height: 100%;
  border-radius: 20px;  
  border: 2px solid black;
  display: flex;
  justify-content: start;
  align-items: end;
  padding: 1rem 0;
}


.mentor_name {
  text-align: center;
  font-size: 22px;
  margin: 2rem 0 1rem 0;
}

.mentor_Stack {
  text-align: center;
  color: rgb(221, 216, 216);
  font-size: 18px;
}

.section_dots {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;

}

.dots_1 {
  position: absolute;
  top: 3%;
  left: 2%;
}

.dots_2 {
  position: absolute;
  top: 3%;
  right: 2%;
}

.dots_3 {
  position: absolute;
  bottom: 3%;
  left: 2%;
}

.dots_4 {
  position: absolute;
  bottom: 3%;
  right: 2%;
}

.slick-next:before, .slick-prev:before {
  font-size: 48px;
  color: #fff;
}

.slick-next::after, .slick-prev::after {
  font-size: 48px;
  color: #fff;
}

.slick-track {
  width: 4030px !important;
}


.swiper-button-next {
  position: absolute;
  bottom: 0;
  left: 55%;
  transform: translateX(-50%);
  z-index: 99;
}

.swiper-button-prev {
  position: absolute;
  bottom: 0;
  left: 45%;
  transform: translateX(-50%);
  z-index: 99;
}

@media (max-width:768px) {
  .slick-prev {
    left: 25% !important;
  }
  .section_mentor_txt {
    font-size: 20px;
    text-align: center;
  }
  .swiper-button-prev {
    left: 35%;
  }
  .swiper-button-next{
    left: 65%;
  }
}