.nav {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}


.nav_link {
  width: 60%;
  background-color: red;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}


.nav_ul {
  width: 700px;
  max-width: 100%;
  /* background-color: red; */
}

li {
  font-size: 18px;
}


.phone_logo {
  width: 26px;
  height: 26px;
  transform: rotate(-20deg);
}


.nav_btn {
  width: 100px;
  height: 40px;
  border-radius: 15px;
}


@media (max-width: 768px) {
  .nav {
    display: block;
    /* height: 20px; */
    overflow: hidden;
  }
  .nav_link {
    margin: 1rem;
    display: grid;
    gap: 10px;
  }
}