.comments {
  width: 100%;
  height: 600px;
  padding: 2rem 0;
}

.comments h3 {
  font-size: 30px;
  font-weight: 600;
}

.comment_card {
  margin: 2rem 2rem 2rem 0;
  width: 250px !important; 
  height: auto;
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
}